.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.cart-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 450px;
  max-width: 100%;
  height: 100%;
  background-color: #1b1a20;
  color: white;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
}

.cart-sidebar.open {
  transform: translateX(0);
}

.cart-header {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cart-close-btn {
  position: absolute;
  left: 20px;
  background: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.cart-title-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-counter {
  background: #eabf00;
  color: black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.cart-items-container {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.cart-empty {
  text-align: center;
  color: #aaa;
  margin-top: 50px;
}

.cart-item {
  display: flex;
  margin-bottom: 20px;
  border-top: 1px solid #333;
  padding-top: 20px;
}

.cart-item-img {
  width: 60px;
  height: auto;
  object-fit: contain;
  margin-right: 15px;
}

.cart-item-details {
  flex: 1;
}

.cart-item-title {
  margin: 0 0 5px 0;
  font-size: 0.9rem;
  color: #ececec;
}

.cart-item-qty-text {
  margin: 0;
  color: #5b5a5e;
  font-size: 0.8rem;
}

.cart-item-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.btn-remove {
  background: transparent;
  border: none;
  color: #555;
  cursor: pointer;
  font-size: 1.2rem;
  margin-bottom: 10px;
  transition: color 0.2s;
}

.btn-remove:hover {
  color: white;
}

.item-price {
  margin: 0 0 10px 0;
  color: #eabf00;
  font-weight: bold;
}

.qty-controls {
  display: flex;
  gap: 5px;
}

.qty-btn {
  width: 30px;
  height: 30px;
  background: #000;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex; 
  justify-content: center;
  align-items: center;
  
  transition: background 0.2s;
}

.qty-btn:hover {
  background: #333;
}

.qty-btn:disabled {
  color: #555;
  cursor: not-allowed;
  background: #111;
}

.cart-footer {
  padding: 30px;
  border-top: 1px solid #333;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);
}

.subtotal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.subtotal-price {
  color: #eabf00;
  font-weight: bold;
}

.btn-checkout {
  width: 100%;
  padding: 15px;
  background-color: #0c0b10;
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}

.btn-checkout:hover {
  background-color: #000;
}